<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bioclipse.bridgedb.mappingdatabase" name="BridgeDb Mapping Database" schema="schema/net.bioclipse.bridgedb.mappingdatabase.exsd"/>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.bridgedb.business.BridgedbManagerFactory"
            id="net.bioclipse.bridgedb.business.BridgedbManager">
      </scriptContribution>
   </extension>
   <extension
         point="net.bioclipse.bridgedb.mappingdatabase">
      <itemType
            class="net.bioclipse.bridgedb.idmappers.MetaboliteIDMapperProvider"
            id="net.bioclipse.bridgedb.idmappers.metabolite">
      </itemType>
   </extension>

</plugin>
